* {
  font-family:  "Poppins", sans-serif;
  margin: 0;
}
.h1 {
  font-weight: bold;
  margin: 0;

  font-size: 28px;
}

.h2 {
  text-align: center;
  font-weight: normal;
  color: #8d8d8d;
  font-size: 18px;
}

.p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.span {
  font-size: 12px;
}

.a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid #46eda7;
  background: linear-gradient(#46eda7, #21ae95);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button .ghost {
  background: #eee;
  color: #24b396;
  border-color: #ffffff;
  text-shadow: #333;
  width: 174.18px;
  height: 34.22px;
  text-align: justify;
  font-size: 15px;
  padding: 5px 43px;
  cursor: pointer;
}

.form {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

.input {
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 20px;
  border: 1px solid;
}

.container {
  background-color: #ffffff;

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;

  width: 99.9999999999%;
  height: 740px;
}

.formcontainer {
  position: absolute;
  overflow: hidden;
  top: 10;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.signincontainer {
  left: 50px;
  top: 20px;
  z-index: 2;
  overflow: hidden;
}

.signincontainer2 {
  left: 110px;
  top: 20px;
  z-index: 2;
  overflow: hidden;
}

.container.right-panel-active .signincontainer {
  transform: translateX(100%);
}

.container.right-panel-active .signincontainer2 {
  transform: translateX(100%);
}

.signupcontainer {
  left: 140px;
  bottom: 45px;
  top: 1px;
  width: 50%;
  opacity: 0;
  z-index: 1;
  overflow: hidden;
}

.container.right-panel-active .signupcontainer {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlaycontainer {
  position: absolute;
  top: 10;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  overflow: hidden;
}

.container.right-panel-active .overlaycontainer {
  transform: translateX(-100%);
}

.overlay {
  background: #3ba8ad;
  background: -webkit-linear-gradient(to right, #3ba8ad, #38b78f);
  background: linear-gradient(to right, #3ba8ad, #38b78f);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: absolute;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlaypanel {
  position: absolute;
  display: flow-root;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 250px 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 800px;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  overflow: hidden;
  background: linear-gradient(
    308deg,
    rgba(85, 197, 151, 1) 0%,
    rgba(54, 158, 159, 1) 100%
  );
}
.overlaypanel h4, .overlaypanel h5 {
  color: white;
  font-family: "Poppins", sans-serif;
}
.overlayleft {
  transform: translateX(-20%);
}

.container.right-panel-active .overlayleft {
  transform: translateX(0);
}

.overlayright {
  right: 0;
  transform: translateX(0);
  
}

.container.right-panel-active .overlayright {
  transform: translateX(20%);
}

#signUp {
  border-radius: 20px;
  border: 1px solid #46eda7;
  background: linear-gradient(#46eda7, #21ae95);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.h3 {
  font-size: 16px;
  color: #6d6a6a;
  font-weight: bold;
}
.h4 {
  font-size: 40px;
  font-weight: bold;
}
.h5 {
  font-size: 20px;
  font-weight: bold;
}
.box1 {
  display: inline-block;
  position: relative;
}
.nav--line {
  background-repeat: no-repeat;
}
.overlayright .h4 {
  height: 100px;
  width: 265;
  font-size: 40px;
}
.overlayright .h5 {
  height: 87px;
  width: 241;
  font-size: 20px;
}

.ha {
  padding: 14 2;
  height: 100px;
  width: 268;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 222px;
  top: 310px;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}
.hb {
  padding: 14 2;
  height: 90px;
  width: 250;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 235px;
  top: 433px;
}

.document {
  width: 53.53px;
  height: 58.12px;
}
.input input {
  padding: 14px 35px;
  margin: 8px 0;
  width: 381px;
  height: 45px;
  border-radius: 50px;
  display: block;
  border-image: linear-gradient(#8d8d8d, #00bfa6);
  border-image-slice: 0.5;
}
.content {
  position: center;
  padding-left: 13%;
  padding-top: 15%;
}

.content .button.ghost2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 260px;
  top: 500px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: 330px;
  top: 245px;
}
.h4 {
  position: relative;
  left: 30px;
  top: 12px;
}
.h5 {
  position: relative;
  left: 24px;
  top: 5px;
}

.overlayright .doc {
  position: relative;
  left: 450px;
  top: -10px;
}

.overlayright .button.ghost2 {
  position: relative;
  left: 20px;
  top: -50px;
}
.overlayright .document {
  position: relative;
  left: 30px;
  top: 5px;
}
.davdouv {
  width: 384px;
  height: 48px;
  border-radius: 50px;
  background: linear-gradient(0deg, #00bfa6, #8d8d8d);

  display: flex;
  justify-content: center;
  align-items: center;
}
.davdouv2 {
  width: 98%;
  height: 48px;
  border-radius: 50px;
  background: linear-gradient(0deg, #00bfa6, #8d8d8d);
  padding-top: 1px;
  padding-left: 2px;
}

.googleiconlogin {
  position: center;
  left: 18.3%;
  margin: 1px 5px;
  cursor: pointer;
}
.fbiconlogin {
  position: center;
  left: 25px;
  margin: 1px 5px;
  cursor: pointer;
}

.textforaziz {
  cursor: pointer;
  display: none;
  text-decoration: underline;
}

.textforaziz:hover {
  cursor: pointer;
  color: #00bfa6;
}

/* Responsive*/

@media screen and (max-width: 514px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
  }
  .signupcontainer {
    left: -42vh;
    height: 100%;
    width: 400px;
  }
}
@media (max-width: 1200px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
  }
  .mobileaffichetext {
    display: none;
  }
  .textforaziz {
    display: block;
  }

  .signupcontainer {
    left: -42vh;
    height: 100%;
    width: 400px;
  }
  .signupcontainer2 {
    left: -42vh;
    height: 100%;
    width: 400px;
  }
  .formcontainer {
    display: flex;
  }
}
@media (max-width: 480px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
    top: -4%;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
    top: -4%;
  }
  .signupcontainer {
    height: 100%;
    width: 400px;
  }
}
@media (max-width: 500px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
  }
  .signupcontainer {
    height: 100%;
    width: 400px;
  }
}
@media (max-width: 375px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
  }
  .signupcontainer {
    height: 100%;
    width: 400px;
  }
}
@media screen and (max-width: 686px) {
  .overlaycontainer {
    display: none;
  }
  .signincontainer {
    height: 100%;
    width: auto;
    left: 10vh;
    top: -6%;
  }
  .signincontainer2 {
    height: 100%;
    width: auto;
    left: 10vh;
    top: -6%;
  }
  .signupcontainer {
    left: -59vh;
    height: 100%;
    width: 400px;
    top: -10%;
  }
}
.btn_btn {
  border-radius: 20px;
  border: 1px solid #46eda7;
  background: linear-gradient(#46eda7, #21ae95);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.navbarall .main {
  position: sticky;
  top: 0;
  background-color: white;
  min-height: 90px;
  box-shadow: 0 5px 5px 1px #00000014;
  z-index: 1000;
}
.navbarall .logo {
  cursor: pointer;
  width: 100px;
  margin-left: 50px;
}
.navbarall .panier {
  display: flex;
  align-items: center;
}

.navbarall .ecriture {
padding-left: 10px;
font-size: 14px;
text-decoration: none;
color: black;
font-weight: 500;
}
.navbarall .ecriture:hover {
  color: black;
}

.navbarall .items {
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
min-height: 40px;
width: 100%;
margin-right: 30px;
margin-left: 10px;
padding-top: 10px;
}

.navbarall .itemss {
display: none;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 10px;
padding-bottom: 10px;
}

.navbarall .navBarItem {
margin-right: 20px;
font-family: "poppins";
color: black;
text-decoration: none;
font-size: 16px;
font-weight: 500;
display: inline-block;
margin-bottom: -10px;
}
.navbarall .navBarItem {
position: relative;
transition: all 0.5s;
}
.navbarall .navBarItem:hover {
color: black;
}

.navbarall .navBarItem:after,
.navBarItem:before {
transition: all 0.5s;
}

.navbarall .navBarItem:after {
position: absolute;
bottom: -3px;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: ".";
color: transparent;
background: #21aea6;
height: 2px;
}
.navbarall .navBarItem:hover:after {
width: 100%;
}

.navbarall .itemss .navBarItem {
padding-bottom: 10px;
width: 100vw;
text-align: center;
border-bottom: 1px solid #00000014;
align-items: center;
}

.navbarall .container {
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
height: 100px;
}

.navbarall .boss {
position: relative;
display: flex;
align-items: center;
}

.navbarall .actions {
position: relative;
text-align: right;
cursor: pointer;
display: flex;
align-items: center;
gap: 10px;
margin-right: 50px;
padding-top: 20px;
}

.navbarall .photo {
padding-right: 5px;
width: 23px;
height: 23px;
}
.navbarall .burger {
display: none;
cursor: pointer;
}

.navbarall .liste {
width: 190px;
/* min-height: 125px; */
position: absolute;
top: 41px;
right: -4px;
padding: 10px 0;

border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.15);
background-color: white;

display: none;
flex-direction: column;
justify-content: center;
gap: 2px;
z-index: 1000;
}

.navbarall .listeLine {
display: flex;
justify-content: space-between;
align-items: right;
background-color: white;

padding-left: 10px;
padding-right: 10px;
}

.navbarall .listeLine:hover {
background-color: #93f4cc90;
}

.navbarall .liste::before {
position: absolute;
top: -8.7px;
right: 10px;
content: "";
width: 15px;
height: 15px;

background-color: white;
border-left: 1px solid rgba(0, 0, 0, 0.15);
border-top: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 2px;
transform: rotate(45deg);
}

@media screen and (max-width: 790px) {
.navbarall 
.navbarall .navBarItem {
  margin-right: 10px;
}
}
@media screen and (max-width: 670px) {
.navbarall 
.burger {
  position: relative;
  margin-left: 5px;
  display: inline;
}

.navBarItem:hover:after {
  width: 0%;
}
.items {
  display: none;
}
.actions {
  padding-top: 25px;
  margin-top: 0;
}
.container {
  align-items: flex-start;
  justify-content: space-between;
}
.logo {
  padding-left: 5px;
}
}