* {
  font-family:  "Poppins", sans-serif;
  margin: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  width: 400px;
  border-radius: 10px;
  border: 1px solid rgb(219, 219, 219);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.delete {
  width: 30px;
  height: 30px;
  border-radius: 9999px;
  color: white;
  background-color: rgb(189, 15, 15);
  text-align: center;
  line-height: 30px;
  user-select: none;
}

.delete:hover {
  background-color: rgb(221, 23, 23);
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  color: #21ae95;
}

@media (max-width: 500px) {
  .item {
    width: 100%;
  }
}
.allcart{
  padding: 10px;
  gap: 80px;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.btn {
  border-radius: 20px;
  border: 1px solid #46eda7;
  background: linear-gradient(#46eda7, #21ae95);
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}
.logo {
  padding-left: 5px;
}
.footerall .footer {
  position: relative;
  background: linear-gradient(to left, #55c597, #369e9f);
  padding-top: 250px;
  overflow: hidden;
}
.footerall .custom-shape-divider-top-1651879645 {
position: absolute;
top: 0;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
}

.footerall .custom-shape-divider-top-1651879645 svg {
position: relative;
display: block;
width: calc(205% + 1.3px);
height: 320px;
}

.footerall .custom-shape-divider-top-1651879645 .shape-fill {
fill: #ffffff;
}

.footerall .contactUsContainer {
display: flex;
justify-content: center;
align-items: flex-start;
flex-wrap: wrap;
gap: 50px;
}

.footerall .text {
display: flex;
flex-wrap: wrap;
max-width: 520px;
}
.footerall .text h3,
.footerall .text p {
text-align: left;
color: white;
cursor: default;
}
.footerall .text h3 {
font-size: 42px;
font-weight: bold;
}
.footerall .text p {
font-size: 18px;
}
.footerall .formContainer form {
width: 100%;
max-width: 529px;
position: relative;
display: flex;
flex-wrap: wrap;
gap: 14px;
}

.footerall .name,
.footerall .email,
.footerall .subject,
.footerall .msg {
padding: 10px;
border-radius: 9px;
border: none;
}

.footerall .name:focus,
.footerall .email:focus,
.footerall .subject:focus,
.footerall .msg:focus {
outline: 2px solid #2a799e;
}

.footerall .name {
width: 177px;
height: 34px;
}
.footerall .email {
width: 338px;
height: 34px;
}
.footerall .tel {
display: inline;
width: 14px;
margin-right: 4px;
}
.footerall .subject {
width: 529px;
height: 35px;
}
.footerall .msg {
width: 529px;
height: 120px;
resize: none;
}

.footerall .submitBtn {
position: absolute;
width: 149px;
height: 33px;
color: white;
background: #1e5d75;
bottom: -50px;
right: 0;
border: none;
border-radius: 9px;
overflow: hidden;
}

.footerall .submitBtn::before {
content: "";
width: 30px;
height: 200px;
background-color: rgba(255, 255, 255, 0.3);
position: absolute;
top: -50px;
right: 150%;
transform: rotate(45deg);
}

.footerall .submitBtn:hover {
background-color: #2a799e;
cursor: pointer;
}

.footerall .submitBtn:hover::before {
content: "";
width: 30px;
height: 200px;
background-color: rgba(255, 255, 255, 0.3);
position: absolute;
top: -50px;
right: -35px;
transform: rotate(45deg);
transition-duration: 0.8s;
}

.footerall .actualFooter {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 20px;
margin-top: 80px;
}

.footerall .navbar {
display: flex;
gap: 10px;
margin-top: 10px;
}

.footerall .navbarLink {
color: white;
font-size: 18px;
text-decoration: none;
}
.footerall .navbarLink:hover {
text-decoration: underline;
text-underline-offset: 2px;
}

.footerall .NavHashLink {
text-decoration: none;
}

.footerall .contactInfo {
position: relative;
display: flex;
gap: 30px;
}

.footerall .contactInfo::after {
content: "";
position: absolute;
width: 2px;
height: 39px;
left: 55%;
top: -5px;
background: #75f2bd;
}

.footerall .contactInfo span {
color: white;
font-weight: 14px;
}

.footerall .socialMedia {
display: flex;
gap: 10px;
}

.footerall .madeWithlove {
font-size: 14px;
font-weight: 300;
color: white;
margin-bottom: 20px;
}

@media screen and (max-width: 559px) {
.footerall .name,
.footerall .email,
.footerall .subject,
.footerall .msg {
  width: 90%;
  margin: auto;
  font-size: 1.1em;
}
.footerall .name,
.footerall .email,
.footerall .subject {
  height: 50px;
  font-size: 1.1em;
}
.footerall .submitBtn {
  position: relative;
  margin: auto;
}
.footerall .text h3 {
  width: 90%;
  text-align: center;
}
.footerall .text p {
  width: 90%;
  text-align: center;
}
.footerall .custom-shape-divider-top-1651879645 {
  width: 150%;
}

.footerall .navbarLink {
  font-size: 15px;
}
}
.navbarall .main {
  position: sticky;
  top: 0;
  background-color: white;
  min-height: 90px;
  box-shadow: 0 5px 5px 1px #00000014;
  z-index: 1000;
}
.navbarall .logo {
  cursor: pointer;
  width: 100px;
  margin-left: 50px;
  display: inline;
}
.navbarall .panier {
  display: flex;
  align-items: center;
}

.navbarall .ecriture {
padding-left: 10px;
font-size: 14px;
text-decoration: none;
color: black;
font-weight: 500;
}
.navbarall .ecriture:hover {
  color: black;
}

.navbarall .items {
list-style: none;
display: flex;
justify-content: flex-end;
align-items: center;
min-height: 40px;
width: 73%;
margin-right: 30px;
margin-left: 10px;
padding-top: 10px;
}

.navbarall .itemss {
display: none;
flex-direction: column;
justify-content: center;
align-items: center;

gap: 10px;
padding-bottom: 10px;
}

.navbarall .navBarItem {
margin-right: 20px;
font-family: "poppins";
color: black;
text-decoration: none;
font-size: 16px;
font-weight: 500;
display: inline-block;
margin-bottom: -10px;
}
.navbarall .navBarItem {
position: relative;
transition: all 0.5s;
}
.navbarall .navBarItem:hover {
color: black;
}

.navbarall .navBarItem:after,
.navBarItem:before {
transition: all 0.5s;
}

.navbarall .navBarItem:after {
position: absolute;
bottom: -3px;
left: 0;
right: 0;
margin: auto;
width: 0%;
content: ".";
color: transparent;
background: #21aea6;
height: 2px;
}
.navbarall .navBarItem:hover:after {
width: 100%;
}

.navbarall .itemss .navBarItem {
padding-bottom: 10px;
width: 100vw;
text-align: center;
border-bottom: 1px solid #00000014;
align-items: center;
}

.navbarall .container {
padding-top: 10px;
padding-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.navbarall .boss {
position: relative;
display: flex;
align-items: center;
}

.navbarall .actions {
position: relative;
text-align: right;
cursor: pointer;
display: flex;
align-items: center;
gap: 10px;
margin-right: 50px;
padding-top: 20px;
}

.navbarall .photo {
padding-right: 5px;
width: 23px;
height: 23px;
}
.navbarall .burger {
display: none;
cursor: pointer;
}

.navbarall .liste {
width: 190px;
/* min-height: 125px; */
position: absolute;
top: 41px;
right: -4px;
padding: 10px 0;

border-radius: 5px;
border: 1px solid rgba(0, 0, 0, 0.15);
background-color: white;

display: none;
flex-direction: column;
justify-content: center;
gap: 2px;
z-index: 1000;
}

.navbarall .listeLine {
display: flex;
justify-content: space-between;
align-items: right;
background-color: white;

padding-left: 10px;
padding-right: 10px;
}

.navbarall .listeLine:hover {
background-color: #93f4cc90;
}

.navbarall .liste::before {
position: absolute;
top: -8.7px;
right: 10px;
content: "";
width: 15px;
height: 15px;

background-color: white;
border-left: 1px solid rgba(0, 0, 0, 0.15);
border-top: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 2px;
transform: rotate(45deg);
}

@media screen and (max-width: 790px) {
.navbarall 
.navbarall .navBarItem {
  margin-right: 10px;
}
}
@media screen and (max-width: 670px) {
.navbarall 
.burger {
  position: relative;
  margin-left: 5px;
  display: inline;
}

.navBarItem:hover:after {
  width: 0%;
}
.items {
  display: none;
}
.actions {
  padding-top: 25px;
  margin-top: 0;
}
.navbarall .container {
  align-items: flex-start;
  justify-content: space-between;
}
.logo {
  padding-left: 5px;
}
}